export BINANCE_API_KEY=<API KEY>

export COINBASE_PRO_API_KEY=<...>
export COINBASE_PRO_API_SECRET=<...>
export COINBASE_PRO_API_KEY_PASSPHRASE=<...>

export POSTGRES_USERNAME=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_DATABASE=coinprice
export POSTGRESQL_HOST=localhost
export POSTGRESQL_PORT=5432

export INFLUXDB_ADMIN_USER=influx
export INFLUXDB_ADMIN_USER_PASSWORD=influx
export INFLUXDB_USER=user
export INFLUXDB_USER_PASSWORD=12345678
export INFLUXDB_ADMIN_USER_TOKEN=<...>
export INFLUXDB_HOST=localhost
export INFLUXDB_PORT=8086
export INFLUXDB_ORG=coinprice
export INFLUXDB_BUCKET_CANDLE=candle

# SQLBOILER
export PSQL_DBNAME=coinprice
export PSQL_HOST=localhost
export PSQL_PORT=5432
export PSQL_USER=postgres
export PSQL_PASS=postgres
export PSQL_SSLMODE=disable
export OUTPUT=data/psql/generated/